<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Physiotherapy",
  "name": "Praxis für Physiotherapie & Osteopathie Thomas Omert",
  "url": "https://physio-omert.de/",
  "telephone": "+49 9773 898389",
  "email": "physio-omert@t-online.de",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Mittelweg 6",
    "postalCode": "97638",
    "addressLocality": "Mellrichstadt-Frickenhausen",
    "addressCountry": "DE"
  },
  "openingHoursSpecification": [
    { "@type": "OpeningHoursSpecification", "dayOfWeek": ["Monday","Tuesday","Wednesday","Thursday"], "opens": "08:00", "closes": "20:00" },
    { "@type": "OpeningHoursSpecification", "dayOfWeek": "Friday", "opens": "08:00", "closes": "14:00" }
  ]
}
</script>
